body{
  font-size: 13px;
  position:relative;
}
.stuffinside{
  border: 3px solid red;
}
.btn-warning{
  background-color: orange;
  color: white;
}
.thecol{
  height:60vh;
}
.bigmod1, .bigmod2{
background-color: rgba(0,230,0,0.7);
  width:100vw;
  height:200vh;
  opacity:0%;
  pointer-events: none;
  position:absolute;
  top:0%;
}
.mod1,.mod2{
  margin:auto;
  width:70%;
  position:absolute;
  left:15%;
  top:10%;
  background-color: green;
}
.bigmod1:target, .bigmod2:target{
  opacity:100%;
  pointer-events: all;
}
.body1,.body2{
  height:40vh;
  background-color: orange;
  position:relative;
}
.body2{
background-color:lightblue;
}
.text1,.text2{
  background-color: pink;
  margin-top:3vh;
  position:absolute;
  margin-left:5%;
  margin-right:5%;
}
.body1 img, .body2 img{
  height:auto;
  max-height:30vh;
  padding:5%;
  position: absolute;
  bottom:10%;
}
.heading1,.heading2{
  background-color: pink;
  font-size:3vh;
  color:white;
  height:5vh;
  position:relative;
}
.heading1 a, .heading2 a{
  color: black;
  position:absolute;
  right:0%;
  top:-20%;
  font-size: 2vh;
  height: 2vh;
}
